{{define "main"}}
<div class="container">
  <div class="page">
    <h1 class="collapsed-title">{{ .Title }}</h1>    
      <div class="content">
	<a href="{{ .Permalink}}" alt="{{ .Title }}" class="permalink" data-singlepage="yes" ><h1>{{ .Title }}</h1></a>
	<fieldset>
	  <legend><i class="far fa-star"></i> [ document summary ] </legend>
	  <ol class="li"><strong>Title: </strong> {{.Title}} </ol>
	  <ol class="li"><strong>date: </strong> {{.Date.Format "2006 1.2"}} </ol>
	  <ol class="li"><strong>content: </strong>{{.Description}} </ol>
	  {{ partial "backlinks.html" . }}	  
	</fieldset>
	{{ .Content }}      
      </div>

  </div>
</div>  
{{end}}
