<script>
window.store = {
   {{ range where .Site.RegularPages "Section" "eq" "posts" }}   
    "{{ .Permalink }}": {
        "title": "{{ .Title  }}",
        "tags": [{{ range .Params.Tags }}"{{ . }}",{{ end }}],
        "content": {{ .Content | plainify }}, // Strip out HTML tags
        "url": "{{ .Permalink }}"
    },
    {{ end }}
 }
</script>
<!-- for searching korean word added utf-8 -->
{{ $lunrjs :="js/lunr.min.js" }}
<script src="{{$lunrjs | relURL}}" type="text/javascript" charset="utf-8"></script>

{{ $stemmerjs :="js/lunr.stemmer.support.js" }}
<script src="{{$stemmerjs | relURL}}" type="text/javascript" charset="utf-8"></script>

{{ $lunrkojs :="js/lunr.ko.js" }}
<script src="{{$lunrkojs | relURL}}" type="text/javascript" charset="utf-8"></script>

{{ $searchjs :="js/search.js" }}
<script src="{{$searchjs | relURL}}" type="text/javascript" charset="utf-8"></script>
